.avat {
    width: 55px;
    height: 55px;
  }
  
  .drr {
    width: 120px;
    height: 55px;
    gap: 20px !important;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
  }
  
  .navbar-nav > .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000; /* Default link color */
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #000; /* Change the text color to black when hovered */
  }
  
  .nav-link.active {
    text-decoration: underline;
  }
  
  .navbar-nav:not(:last-child) {
    border-right: 1px solid #000 !important; /* Adjust border width as needed */
    
  }
  
  .nav-link.active {
    background-color: transparent !important;
  }
  
  .navbar-nav {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .navbar-nav li {
    list-style: none;
  }
  
  .navbar-nav li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    padding-left: 15px !important;
  }
  
  .navbar-nav li a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  /* Remove background color for active link */
  .navbar-nav li a.active {
    background-color: transparent !important;
  }
  
  .navsearch{
    padding-right: 20% !important;
  }

  .navcardres{
    display: grid !important;
    margin-top: -20px !important;
    position: absolute !important;
    width: 44% !important;
    border: 20px solid transparent;
    border-radius: 10rem;
    margin-left: -23px;
    z-index: 1;
  }

  .btnt{
    width: 300px !important;
  }